# Лекция 2: Введение в Python

### Где мы будем работать?

Jupyter Notebook - интерактивная среда для запуска программного кода в браузере. Удобный инструмент, который используется многими специалистами по data science.

![](https://media2.giphy.com/media/2IudUHdI075HL02Pkk/giphy.gif?cid=ecf05e47ty9lob0kw3ifr0d4xrcpwag7oarei12devpt0bpz&ep=v1_gifs_search&rid=giphy.gif&ct=g)

###  Меньше текста, больше кода

**Напутствие**:
- *главное не бояться пробовать писать код*
- *каким бы неправильным он ни казался*
- *скорее всего, ничего такого, что не починится, в рамках Jupyter Notebook вы сделать не сможете*

**Краткая инструкция на все случаи жизни**:
- Как создать новую ячейку?

> Просто нажать кнопку `+` (*insert cell below*) на панели меню выше.

- Как запустить код в ячейке?

> Выделить ячейку и нажать кнопку `Run`/ `Запуск` или `Ctrl + Enter`(Windows), `Cmd + Enter`(Mac) *(см. Help - Keyboard Shortcuts)*.

- Как понять, что код успешно выполнен?

> Под ячейкой не появились сообщения об ошибках + поле `In []` / `Ввод []` слева от ячейки содержит число, а не символ `*`.

- Что делать, если код не хочет успешно выполняться, поле слева выглядит вот так `In [*]` / `Ввод [*]` и вообще всё зависло аааа помогите
<img src="https://media4.giphy.com/media/YBf4bJkA2Ns17oix5x/giphy.gif" style="width: 300px;"/>

> Для прерывания выполнения кода можно попробовать нажать кнопку `■` (*interrupt the kernel*) в панели наверху, либо перезапустить весь проект, нажав соседнюю кнопку (*restart the kernel*).

## План на сегодня

* Функции и вывод данных
* Основные типы данных : число, текст
* Действия с основными типами данных
* Переменные
* Ввод данных
* Ошибки, и что с ними делать

## Функции и вывод на экран

В дальнейшем вы часто будете использовать _функции_ из Python или из специализированных Python-модулей.

_Функция_ -- это какой-то скрытый от вас программный код, который можно применять для решения конкретной задачи.

Например, познакомимся с функцией `print`:
- нужна для того, чтобы выводить на экран текст / числа / что угодно ещё
- формат вызова: `print(<первое, что хотите вывести на экран>, <второе, что хотите вывести на экран>, ...)`

То, что перечисляется внутри скобок и разделяется запятыми, называется *аргументами* или _входами_ функции

<img src="https://i.ibb.co/12sSpRd/Untitled-Frame-1-11.jpg" alt="Drawing" style="width: 800px;"/>

Для начала сделаем классику – выведем текст "Hello world!" 

Обычно это первый пример программы в учебниках по программированию, и для многих студентов такая программа является первым опытом при изучении нового языка. Одно из значений фразы – программа, начиная работу, как бы рождается и приветствует мир, в который она приходит.

In [28]:
print('Hello, world!')

Hello, world!

Попробуем вывести результат сложения чисел 42 и 146:

In [32]:
print(42+146)
# всё, что пишется за знаком #, воспринимается как комментарий и не выполняется в рамках программы

188

## Типы данных: Целые числа - INT (INTEGER)

Python сам понимает, какой тип у данных. Однако, можно так же и запросить у него данную информацию

In [33]:
print(type(5))

<class 'int'>

Разумеется, в python представлены все возможные арифметические операции:

In [34]:
# сложение
print(4 + 2)
# вычитание
print(4 - 2)

6
2

In [35]:
# умножение
print(4 * 2)
# деление
print(4 / 2)
# взятие остатка от деления
print(3 % 2)

8
2.0
1

In [36]:
# возведение в степень
print(3 ** 2)
# взятие корня aka возведение в дробную степень
print(3 ** (1 / 2))

9
1.7320508075688772

Заметим, что здесь у нас в ответах получились не только целые числа, но также дроби.

## Типы данных: Вещественные числа - FLOAT

In [ ]:
type(1.5)

float

На что обратить внимание:
- числа с десятичной частью, например, $1.43$, в отличие от Excel, в Python пишутся не через запятую `,`, а через точку `.`.

Почувствуйте разницу:

In [37]:
print(2,6 / 2)  # печатает два числа
print(2, 6 / 2)  # и так тоже два числа, пробел в данном случае неважен
print(2.6 / 2)  # печатает одно число

2 3.0
2 3.0
1.3

Также не стоит путать целочисленное и обычное деление:

In [5]:
print(9 / 4)  # печатает ожидаемый дробный результат
print(9 // 4)  # целочисленное деление
print(9 % 4)  # остаток от (целочисленного) отделения

2.25
2
1

### Пример целочисленного деления

У нас есть пирог на компанию из 4 человек. Курьер привез пирог, разрезанный на 9 частей. 

`9 // 4 = 2`

Каждому человеку достанется 2 куска пирога, и у нас останется еще 1.

`9 % 4 = 1`

<img src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Pie_division.svg/440px-Pie_division.svg.png' style="height: 400px;">

Иногда результаты могут быть довольно неожиданные. Может показаться, что python совершенно не умеет считать:

In [38]:
print(0.1+0.2)

0.30000000000000004

https://0.30000000000000004.com/ есть даже целый сайт, который объясняет, что ваш язык программирования не сломан, это просто "floating point math".

## Типы данных: Строки (текст) - STR (STRING)

С помощью `print` можно печатать не только числа. Например, текст:
- текстовая строка в питоне -- это любое выражение, заключённое в двойные `"` или одинарные `'` кавычки
- с точки зрения пользователя ничем не отличается от привычного текста

Например:

In [39]:
print('Моё имя:')

Моё имя:

In [40]:
type('Моё имя:')

str

In [48]:
print('Первая' + 'пара')

Перваяпара

In [45]:
print('Первая', 'пара')

Первая пара

In [46]:
?print

In [49]:
print('У меня '+ 'проблема'*20)

У меня проблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблема

Ещё строки можно
- складывать (склеивать)
- умножать на число (раскопировать n-ное кол-во раз)
- использовать встроенные методы (об этом поговорим попозже)

In [ ]:
print('how')
print('how' + ' ' + 'are')
print('how' * 3)
print(' are' * 2 + 'you?')

how
how are
howhowhow
 are areyou?

На что обратить внимание:
- выражение `1` это число
- выражение `'1'` это строка

Почувствуйте разницу:

In [ ]:
print(1 + 2)  # печатает число
print('1' + '2')  # печатает результат склеивания строк
print(str(1) + str(2))  # функция str преобразует аргумент в строку

3
12
12

In [50]:
int('1')

1

In [51]:
str(1)

'1'

In [52]:
float(1)

1.0

In [53]:
float('1')

1.0

In [54]:
str(4.5)

'4.5'

In [57]:
print(str(4+5) + 'hello')

9hello

## Переменные

В Python мы можем записывать в переменные какие-либо значения (или наборы значений):

In [62]:
number = 99
my_name = 'Python'

In [58]:
print(number)
print(my_name)

99
Python

In [65]:
number = 10

In [60]:
print(number)

10

Если мы будем реализовывать какие-то действия с переменными, то они будут осуществляться со значениями, которые записаны в эти переменные:

In [66]:
print(number*my_name)

PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [67]:
type(number)

int

In [68]:
type(my_name)

str

## Ввод данных

Чтобы мы могли передать данные нашей программе существует функция `input()`, которая при запуске выводит окошко для ввода текста.
После того, как вы ввели в окошке текст, нужно нажать клавишу `Enter`. Функция отработает и положит в переменную все то, что вы напечатали в окошке.

In [74]:
name = input()

Ольга

In [87]:
print(f'{name}, как дела? {my_name}, {number}')

Ольга, как дела? Python, 10

In [79]:
type(name) # по умолчанию функция input() сохраняет в переменную все введенное в формате `str`

str

In [91]:
age = input() # но если нам на вход нужно считать `int`, то достаточно просто обернуть функцию input() функцией int()

10

In [92]:
age + 1

TypeError: can only concatenate str (not "int") to str

In [89]:
type(age)

int

In [93]:
str(int(input())/4)

10

'2.5'

In [ ]:
name = input()

In [ ]:
money = float(input())

In [ ]:
children = int(input())

## Ошибки в Python и что с ними делать

Иногда написанный код не работает. Так бывает. Это не страшно.

Например, я хочу вывести на экран текст следующего вида:
```
День недели: суббота.
Моё имя: Дарья
Время на часах: 13
```

Я написала свой код в ячейке ниже.

Выполните следующую ячейку (казалось бы, что может пойти не так?):

In [95]:
print('День недели: суббота.')
print('Моё имя: ' + 'Дарья')
print('Время на часах: ' + 13)

День недели: суббота.
Моё имя: Дарья

TypeError: can only concatenate str (not "int") to str

Всегда читайте последнюю строку ошибки – это поможет найти, что пошло не так.

`----> 3 print('Время на часах: ' + 13)`

Стрелочка указывает, на какой строке кода питон столкнулся с ошибкой и не смог выполнить какое-то действие.

`TypeError: can only concatenate str (not "int") to str`

Ошибка TypeError буквально переводится "ошибка типа данных". А через двоеточие разворачивает мысль: "Я умею складывать (склеивать) строку только со строкой. А ты просишь склеить строку с целым числом. Я так не умею."

In [97]:
print('Время на часах: ' + '13')

Время на часах: 13

In [101]:
# Считать три имени подряд
person1 = input()
person2 = input()
person3 = input()

# Напечатать одно приветствие для всех трех людей
print('Приветствуем вас, ' + person1 + ', ' + person2 + ', ' + person3 + '.')

Дарья
Марья
Глаша
Приветствуем вас, Дарья, Марья, Глаша.

In [113]:
print('Приветствуем вас', person1, person2, person3, sep=", ")

Приветствуем вас, Дарья, Марья, Глаша

In [114]:
name1 = input()
name2 = input()
name3 = input()

print(f'Приветствуем вас, {name1},  {name2},  {name3}.')

Дарья
Марья
Глаша
Приветствуем вас, Дарья,  Марья,  Глаша.

In [115]:
print(1, 2, 3)

1 2 3

In [117]:
name = input()

введите свое имя: Дарья

In [118]:
print(name)

Дарья